name: GitHub Snake

on:
  schedule:
    - cron: '0 0 * * *' # каждый день в полночь
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y python3 python3-pip
          pip3 install github-contributions-chart

      - name: Generate snake
        run: |
          github-contributions-chart --username Ya_serezka --output output/github-contribution-grid-snake.svg

      - name: Commit SVG
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add output/github-contribution-grid-snake.svg
          git commit -m "Update GitHub snake" || echo "No changes"
          git push
